.gameBoard {
  width: 30%;
  display: flex;
  justify-content: center;

  .board {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;

    .cell {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(10px);
      border: lightgrey 0.2px solid;
    }

    @keyframes bounce {
      to {
        transform: translateY(+15%);
      }
    }
  }
}
