.title {
  width: 100%;
  padding: 4vh 0 2vh 0;
  @media (max-width: 1023px) {
    padding: 3vh 0;
  }

  h1 {
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
  }
}
