@import 'core/reset';
body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;

  .mainContainer {
    display: flex;
    height: 100vh;

    .imageContainer {
      width: 50%;
      height: 100vh;
      background: url('../images/grogu-vertical.jpeg') no-repeat;
      background-size: 120% 100vh;
    }

    .noImageContainer {
      width: 50%;
      height: 100vh;
      background-color: #999;
    }

    .menu {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: start;

      a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        line-height: 50px;
      }
    }
    .welcome,
    .instructions {
      font-size: 22px;
      line-height: 40px;
      color: white;
      padding: 2vh 50px;
    }
  }
}
