@import 'core/reset';
body,
html {
  height: 100%;
  margin: 0;
  background-color: rgb(49, 177, 130);
  font-family: 'Arial', sans-serif;

  .mainContainer {
    display: flex;
    height: 100vh;
    @media (max-width: 1023px) {
      flex-direction: column;
    }

    .imageContainer {
      height: 100vh;
      border-right: 10px solid black;
      img {
        height: 100vh;
      }

      @media (max-width: 1023px) {
        width: 100%;
        height: 50vh;
        border-right: none;
        border-bottom: 10px solid black;
        background: url('../images/grogu.webp') no-repeat;
        background-size: cover;
        background-position: center;
        img {
          display: none;
        }
      }
    }

    .noImageContainer {
      height: 100vh;
      margin: auto;
      background-color: rgb(49, 177, 130);

      @media (max-width: 1023px) {
        width: 100%;
        height: auto;
        border-right: none;
      }

      .page {
        padding: 4vh 5%;
        color: white;
        @media (max-width: 1023px) {
          width: 100%;
          padding: 2vh 5%;
          border-left: none;
        }

        .menu {
          list-style: none;
          display: flex;
          justify-content: space-evenly;
          gap: 5%;

          a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            @media (max-width: 1023px) {
              font-size: 20px;
            }
            @media (max-width: 767px) {
              font-size: 18px;
            }
          }
        }
      }

      .welcome,
      .instructions {
        font-size: 20px;
        line-height: 40px;
        color: white;
        padding: 2vh 50px;
        @media (max-width: 1023px) {
          font-size: 18px;
          line-height: 30px;
        }
        @media (max-width: 767px) {
          font-size: 17px;
        }
      }
    }
  }
}
